<div class="container-fluid px-15 px-md-30 px-lg-40 bg-off">
    <div class="row pt-lg-60">
        <div class="col-12">
            <h2 class="cap-letter">Newsletter</h2>
        </div>
        <div class="form">
            <div class="row pt-lg-25 pb-lg-85">
                <div class="col-lg-8">
                    <input type="text" class="input-newsletter w-100" placeholder="EMAIL">
                </div>
                <div class="col-lg-4">
                    <button class="btn-newsletter w-100">
                        <h3>
                            Subscribirme
                        </h3>
                    </button>
                </div>
            </div>
        </div>
        
        
    </div>
</div>