.btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $blue;
    color: $blue;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 9px 30px;
    &.btn-green{
        border-color: $green;
        color: $green;
        svg{
            path{
                fill: $green;
            }
        }
    }
    &.btn-red{
        border-color: $red;
        color: $red;
        svg{
            path{
                fill: $red;
            }
        }
    }
}