
.contact-modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    &::after{
        content: '';
        display: block;
        background: $black;
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }
    .contact-text{
        z-index: 1;
        color: $white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none; 
        a{
            display: inline-block;
            &::after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: $white;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
        }
    }
}

.contact-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    display: none;
    @include media-breakpoint-up(md){
        display: block;
    }
    &:hover{
        cursor: pointer;
    }
    &::after{
        content: '';
        background: $black;
        opacity: 0.6;
        display: block;
        border-radius: 50px;
        width: 100%;
        height: 100%;
    }
    &.active{
        &::after{
            background: $off-white;
        }
    }
}

#contact-mobil-button{
    &.active{
        svg{
            transform: rotate(180deg);
        }
    }
}

.contact-mobil-modal{
    display: none;
    position: absolute;
    top: 100%;
    right: 50%;
    flex-direction: column;
    transform: translate(50%, 0);
    &.active{
        display: flex;
    }
    .link{
        padding-top: 15px;
    }
}