@import url("https://use.typekit.net/yea3lxv.css");



@font-face {
  font-family: "TTNewRoman-Italic";
  src: url('../fonts/ThatThatNewRoman-Italic.woff') format('woff'),
       url('../fonts/ThatThatNewRoman-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTNewRoman-Regular";
  src: url('../fonts/ThatThatNewRoman-Regular.woff') format('woff'),
       url('../fonts/ThatThatNewRoman-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}