
.bg-black{
    background: $black;
}

.bg-off{
    background: $off-white;
}

.index-10{
    z-index: 10;
    position: relative;
}

.mix-blend-mode{
    mix-blend-mode: difference;
}

.cap-letter{
    text-transform: uppercase;
}

.border-bottom-dotted{
    border-bottom: 4px dotted $black;
}



