/*
    TestTestTest [Template - Root] 2024
    Description: Congrats on starting a new project! This is the main root of stylesheet for TestTestTest Projects
    Version: 1.0

    TestTestTest was here.
    If you're reading this, you're a nerd.
*/

/*
Table of Contents
-----------------
1. Normalize
2. Global
3. Pages
   3.1 Home Page 
        3.1.1 Video Section
*/

// 1. Normalize

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    @include body-text;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    background-color: $white;
}

a:not([href]):not([tabindex]){
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color          : inherit;
      text-decoration: none;
    }
}
  
li{
    list-style: none;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
}

::placeholder {
    color: $placeholder-color;
}

.h1,
.h1,
.h2,
.h3,w
.h4,
.h5,
.h6,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin-bottom: 0;
}

figure{
    margin: 0;
}

button{
    border: none;
}

input{
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;
}

// 2. Pages
// 3.1 Home Page
// 3.1.1 Video Section

.video-container{
    transition: height 1s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .video{
        width: 100%;
        height: 100%;
        background: $blue;
    }
}

.expand-button{
    position: absolute;
    display: inline-block;
    bottom: 30px;
    right: 15px;
    mix-blend-mode: difference;
    .reduce{
        display: none;
    }
    &.open{
        .expand{
            display: none;
        }
        .reduce{
            display: block;
        }
    }
    @include media-breakpoint-up(md){
        right: auto;
        bottom: 90px;
        left: 50%;
        transform: translateX(-50%);
    }
    @include media-breakpoint-up(lg){
        display: none;
    }
    @include media-breakpoint-up(md){
        .expand{
            width: 45px;
            height: 45px;
            path{
                stroke-width: 1.4px;
            }
        }
        .reduce{
            width: 46.406px;
            height: 46.402px;
            path{
                stroke-width: 1.4px;
            }
        }
    }
}

// 3.1.2 Contact Section
