// -------- Variables ----------------- 

// Colors
$black: #23222C;
$white: #FCFCFC;
$off-white: #F4F3F0;
$blue: #5375B7;
$red: #DC6666;
$error: #FF0000;


// Base Variables
$body-background-color: $white;
$body-text-color: $black;
$title-text-color: $black;
$placeholder-color: $black;

// Types
$font-body: 'TTNewRoman-Regular';
$font-title: 'Aktiv Grotesk';
$font-link-active: 'TTNewRoman-Italic';


